
.container{ 
    padding-top: 3%;
    position: static;

}

.card-title{
    width: 100%;
}

.card{
    width: 100%;
    margin: 1px;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.embed-responsive.embed-responsive-16by9 :hover{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.card-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text {
    color: blanchedalmond;
}
